/* Form.css */

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  button {
    padding: 10px;
    margin-bottom: 15px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  